.vehicles {
    list-style: none;
    padding-left: 0 !important;

    .vehicle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .vehicle-logo {
            justify-content: center;
            align-content: center;
            margin-right: 1rem;
            margin-bottom: 0.7rem;
        }

        .vehicle-description {
        }
    }
}
