aside {
    z-index: 99;
    display: flex;
    flex-direction: column;
    width: 0;
    position: fixed;
    min-height: 100%;
    overflow: hidden;
    top: 0;
    left: -4rem;
    background-color: var(--card-background);
    color: var(--dark);
    transition: 0.4s ease-out;
    justify-content: space-between;

    &.active {
        width: var(--sidebar-width);
        height: 100%;
        left: 0;

        main {
            -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
            -webkit-filter: blur(10px);
            filter: blur(10px);
            -webkit-filter: url(#blur);
            filter: url(#blur);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
        }
    }

    .logo {
        margin-bottom: 2rem;
        padding-left: 0.2rem;
        justify-content: flex-start;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.3rem 1.3rem 0 1.3rem;
    }

    .side-container {
        top: 0;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-toggle-wrap {
        position: absolute;
        padding: 1.3rem;
        top: 0;
        right: 0;
        cursor: pointer;

        span {
            font-size: 24px;
        }
    }

    .menu-items {
        padding: 0 1.3rem;
        hr {
            margin: 0.5rem 0 !important;
            color: var(--inactive);
        }
    }

    .sidebar-item {
        cursor: pointer;

        .title-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-color);
                font-weight: 600;
                font-size: 1rem;
            }

            .material-icons {
                color: var(--primary) !important;
                size: 19px;
                padding: 0.5rem;
            }
        }

        &.inactive {
            cursor: not-allowed;
            .title {
                color: var(--inactive) !important;
            }

            .material-icons {
                color: var(--inactive) !important;
                size: 19px;
                padding: 0.5rem;
            }
        }

        &:hover {
            border-radius: 5px;

            .title {
                color: var(--hover-color) !important;
            }

            background-color: var(--hover-background);
        }
    }

    .sidebar-link {
        text-decoration: none;
    }

    .menu-item {
        border-top: none;
        padding: 0.7rem;

        .icons {
            display: none;
            align-items: center;

            .material-icons {
                color: var(--text-color);
            }
        }

        .dropdown-item {
            .material-icons {
                color: var(--text-color);
            }
        }
    }

    .nav-user {
        cursor: pointer;
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 0.8rem;

        position: relative;
        bottom: 0rem;
        left: 0;

        background-color: var(--card-background);
        padding-top: 0.5rem;
        width: 100%;

        gap: 1rem;

        .title {
            color: var(--text-color);
        }

        .icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .material-icons {
                color: var(--sidebar-user-icon);
                display: inline-block;
                border-radius: 15rem;

                padding: 0.3rem;
                font-size: 1.6rem;
                background-color: var(--sidebar-user-circle);
            }

            .user-icon {
                z-index: 2;
                border-style: solid;
                border-color: var(--card-background);
                margin-left: 0.4rem;
            }

            .home-icon {
                position: relative;
                left: -0.6rem;
            }
        }

        .role {
            font-weight: 300;
            justify-content: flex-start;
            display: flex;
            color: var(--text-color);
        }
    }

    @media (max-width: 1024px) {
        .user-dropdown {
            .title {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 160px;
                height: 1.2em;
                white-space: nowrap;
            }
        }

        .menu-item {
            border-top: 0.1rem solid var(--text-color);
            .icons {
                display: flex;
            }

            .toggle-icon {
                padding-top: .4rem;
                color: var(--text-color);
            }
        }
        .menu-items {
            hr {
                margin: 0.3rem 0 !important;
            }
        }
        .nav-user {
            display: flex;
        }
    }
}
